<!--
Important Notice: For wheeled robots, odometer input is a requirement for robust
and accurate tracking. The relevant APIs will be added to librealsense and
ROS/realsense in upcoming releases. Currently, the API is available in the
https://github.com/IntelRealSense/librealsense/blob/master/third-party/libtm/libtm/include/TrackingDevice.h#L508-L515.
-->
<launch>
    <arg name="camera1"              			value="d435i"/>		<!-- Note: Replace with camera name -->
    <arg name="serial_no_camera1"    			value="902512070077"/> 			<!-- Note: Replace with actual serial number -->
    <arg name="camera2"              			value="t265"/>		<!-- Note: Replace with camera name -->
    <arg name="serial_no_camera2"    			value="943222110723"/> 			<!-- Note: Replace with actual serial number -->
    <arg name="tf_prefix_camera1"               value="$(arg camera1)"/>
    <arg name="tf_prefix_camera2"               value="$(arg camera2)"/>
    <arg name="enable_sync"                     value="true"/>
    <arg name="auto_exposure_enable"            value="true"/>
    
    <arg name="pose_jumping_enable"             value="false"/>
    <arg name="relocalization_enable"           value="false"/>
    <arg name="emitter_enable"                  value="1.0"/>

    <group ns="$(arg camera2)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_camera)/rviz/t265.rviz" required="true" />
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
        <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
        <arg name="tf_prefix"         		value="$(arg tf_prefix_camera2)"/>
        <arg name="enable_sync"               value="$(arg enable_sync)"/>
        <arg name="auto_exposure_enable"      value="$(arg auto_exposure_enable)"/>
        
        <arg name="pose_jumping_enable"      value="$(arg pose_jumping_enable)"/>
        <arg name="relocalization_enable"      value="$(arg relocalization_enable)"/>
    </include>
    </group>

    <!-- <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
        <arg name="tf_prefix"         		value="$(arg tf_prefix_camera1)"/>
        <arg name="sync_mode"               value="master"/>        
        <arg name="enable_sync"               value="$(arg enable_sync)"/>
        <arg name="emitter_enable"               value="$(arg emitter_enable)"/>
        <arg name="align_depth"               value="true"/>
        <arg name="enable_infra1"           value="false"/>
        <arg name="enable_infra2"           value="false"/>
        <arg name="depth_fps"           value="30"/>
        <arg name="enable_fisheye"      value="false"/>
        <arg name="depth_width"         value="640"/>
        <arg name="depth_height"        value="480"/>
        <arg name="enable_depth"        value="true"/>

        <arg name="color_width"         value="640"/>
        <arg name="color_height"        value="480"/>
        <arg name="enable_color"        value="true"/>
        <arg name="color_fps"           value="30"/>
    </include>
    </group> -->
</launch>
